<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="codingRoundAnklesh">
	<test name="codingRoundAnkleshSuite">
		<classes>
			<class name="SignInTest" />
			<class name="HotelBookingTest" />
			<class name="FlightBookingTest" />
		</classes>
	</test>
</suite>
