<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="codingRoundAnklesh">
	<test name="codingRoundAnkleshSuite">
		<classes>
			<class name="codingRound.SignInTest" />
			<class name="codingRound.HotelBookingTest" />
			<class name="codingRound.FlightBookingTest" />
		</classes>
	</test>
</suite>
